<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог книг</title>
    <link rel="stylesheet" href="/css/catalog.css">
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>

<h1>Каталог книг</h1>

<article>
    <ul>
        <li>
            <article>
                <h3>Book name</h3>
                <img src="/images/image.png" alt="cover" />
            </article>
        </li>
        <li>
            <article>
                <h3>Book name</h3>
                <img src="/images/image.png" alt="cover" />
            </article>
        </li>
        <li>
            <article>
                <h3>Book name</h3>
                <img src="/images/image.png" alt="cover" />
            </article>
        </li>
         <li>
            <article>
                <h3>Book name</h3>
                <img src="/images/image.png" alt="cover" />
            </article>
        </li>
         <li>
            <article>
                <h3>Book name</h3>
                <img src="/images/image.png" alt="cover" />
            </article>
        </li>
         <li>
            <article>
                <h3>Book name</h3>
                <img src="/images/image.png" alt="cover" />
            </article>
        </li>
         <li>
            <article>
                <h3>Book name</h3>
                <img src="/images/image.png" alt="cover" />
            </article>
        </li>
         <li>
            <article>
                <h3>Book name</h3>
                <img src="/images/image.png" alt="cover" />
            </article>
        </li>
         <li>
            <article>
                <h3>Book name</h3>
                <img src="/images/image.png" alt="cover" />
            </article>
        </li>
         <li>
            <article>
                <h3>Book name</h3>
                <img src="/images/image.png" alt="cover" />
            </article>
        </li>
         <li>
            <article>
                <h3>Book name</h3>
                <img src="/images/image.png" alt="cover" />
            </article>
        </li>
         <li>
            <article>
                <h3>Book name</h3>
                <img src="/images/image.png" alt="cover" />
            </article>
        </li>
         <li>
            <article>
                <h3>Book name</h3>
                <img src="/images/image.png" alt="cover" />
            </article>
        </li>
    </ul>
</article>
<div class="search-container">
  <form action="" method="get">
    <input type="search" name="search" class="search-input" placeholder="Поиск...">
    <button type="submit" class="search-button">Искать</button>
  </form>
</div>

</body>
</html>

<p><a href="{{ path('app_home') }}">
    <img src="/images/logo.png" alt="Логотип" class="logo">
    </a></p>